{% extends 'base.html' %}

{% block title %}
    Source "{{ source.name }}"
{% endblock %}

{% block extra_head %}
    <style>
        /* Source-specific styles go here */
    </style>
{% endblock %}

{% block content %}
<body>
<h3>Source "{{ source.name }}" page</h3>
<table class="styled-table">
    <thead>
    <tr>
        <th>id</th>
        <th>url</th>
        <th>source_name</th>
        <th>source_country</th>
    </tr>
    <tr>
        <th>{{source.id}} - {{ source.url }}</th>
        <th>{{ source.url }}</th>
        <th>{{ source.name }}</th>
        <th>{{ source.country }}</th>
    </tr>
        </thead>
</table>

<br>
<h3><i> Content of '{{source.name}}' source</i></h3>
<table class="styled-table">
    <thead>
    <tr>
        <th> item.id </th>
        <th> item.title </th>
        <th> item.url </th>
        <th> item.text </th>
        <th> item.country </th>
    </tr>
    {% for data in data_list %}
    <tr>
        <td>{{data.id}}</td>
        <td>{{data.title}}</td>
        <td><a href="https://{{data.url}}">{{data.url}}</a></td>
        <td>{{data.text}}</td>
        <td>{{source.country}}</td>
    </tr>
    {% endfor %}
  </thead>
    </table>
</body>
{% endblock %}
