{% extends 'base.html' %}
{% load static %}

{% block title %}Sources list{% endblock %}

{% block content %}
<body>
<h3>Sources</h3>
<table class="styled-table">
    <thead>
            <tr>
                <th>source_id</th>
                <th>source_url</th>
                <th>source_name</th>
            </tr>
            {% for source in sources %}
            <tr>
                    <td>{{source.id}}</td>
                    <td><a href="https://{{source.url}}">{{source.url}}</a></td>
                    <td>{{ source.name }}</td>
                </tr>
            {% endfor %}
    </thead>
</table>
</body>
{% endblock %}
