{% load static %}
<html>
    <head>
    <h1> Sources table page</h1>
        <link rel="stylesheet" href="{% static 'style_table.css' %}">
    </head>
    <body>
     <a href="{% url 'get_sources_list' %}">Sources list</a>
     <table class="styled-table">
    <tr>
    <th>source.id</th>
         <th>source.name</th>
    <th>source.context</th>
    </tr>
    {% for source in sources %}
    <tr>
    <td>{{source.id}}</td>
    <td><a href="{% url 'get_source' pk=source.id %}">{{source.url}}</a> </td>
    <td>{{source.name}}</td>
    </tr>
         {% endfor %}
     </table>
    </body>
</html>