{% load static %}
<html>
<title>Sources table page</title>
<head>
    <link rel="stylesheet" href="{% static 'style_table.css' %}">
    <h1> Sources table page</h1>
    <h2><a href="{% url 'get_home' %}">Home</a></h2>
    <h2><a href="{% url 'get_sources_list' %}">Sources list</a></h2>
</head>
<body>
<h2>Sources</h2>
<table class="styled-table">
    <tr>
        <th>source.id</th>
        <th>source.name</th>
        <th>source.context</th>
    </tr>
    {% for source in sources %}
    <tr>
        <td>{{source.id}}</td>
        <td><a href="{% url 'get_source' pk=source.id %}">{{source.url}}</a></td>
        <td>{{source.name}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>