<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>{% block title %}{{ mystring }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'vintage-style.css' %}">
    <link rel="stylesheet" href="{% static 'base-style.css' %}">
    {% block extra_head %}
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <a href="{% url 'get_home' %}">Home</a>
                <a href="{% url 'get_sources_table' %}">Sources table</a>
                <a href="{% url 'get_sources_list' %}">Sources list</a>
                <a href="{% url 'get_stats' %}">Stats</a>
                <a href="{% url 'get_resources_ik' %}">resources_ik</a>
            </nav>
        </header>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <p>FOOTER</p>
        </footer>
    </div>
</body>
</html>
